.l-main {
  display: flex;
  height: 100%;
  min-height: 200px;
}
/**文本框**/
.el-input.is-disabled .el-input__inner{
  color: #909399;
}
.el-textarea.is-disabled .el-textarea__inner{
  color: #909399
}
/deep/ .tr-card__content{
  margin-top: 10px;
//  margin-left:  200px !important;
}
/deep/ .el-card__body{
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.classLevel{
  margin-left: 15px;
    font-size: 12px;
}
.el-tag{
  margin-right: 10px;
}
/deep/ .el-card__header{
  padding: 8px 20px;
  font-weight: 700;
  cursor: pointer;
  color: #333;
}
.modelConfigNoError .el-input {
  display: inline-block;
  width: 70%;
  margin-left: 5px;
}
.red{
  color: red;
  vertical-align: sub;
}
/deep/.modelConfigNoError .el-card__body{
  padding-left: 100px !important;
  padding-right: 100px !important;
}
/deep/ .el-form-item__label{
  font-weight: 700;
}